:root {
    --header-footer: #d83f87;
    --banners: #2a1b3d;
    --background: #a4b3b6;
}

/* Global styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

a:hover {
    color: #e6e6e6;
}

button, input[type="submit"] {
    background-color: #2c3e50;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover, input[type="submit"]:hover {
    background-color: #34495e;
}

/* Header */
header {
    background-color: var(--header-footer);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    font-size: 1.2rem;
    font-weight: bold;
}

nav ul li a:hover {
    color: #e6e6e6;
}

/* Hero */
#hero {
    background-color: var(--banners);
    color: #fff;
    padding: 50px;
    text-align: center;
}

#hero h2 {
    font-size: 2rem;
    margin: 0;
}

#hero p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

#hero .button {
    margin-top: 20px;
}

/* Features */
#features {
    background-color: var(--background);
    color: #7D6D9C;
    padding: 50px;
}

#features h2 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.feature {
    margin-top: 50px;
    text-align: center;
}

.feature img {
    border-radius: 50%;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.feature h3 {
    font-size: 1.5rem;
    margin: 0;
}

.feature p {
    font-size: 1.2rem;
}

/* Testimonials */
#testimonials {
    background-color: var(--banners);
    color: #fff;
    padding: 50px;
    text-align: center;
}

#testimonials h2 {
    font-size: 2rem;
    margin: 0;
}

.testimonial {
    margin-top: 50px;
}

.testimonial p:first-of-type {
    font-size: 1.5rem;
    margin: 0 0 20px;
}

.testimonial p:last-of-type {
    margin: 0;
}

.testimonial strong {
    font-weight: bold;
}
/* Footer */
footer {
    background-color: var(--header-footer);
    color: #fff;
    padding: 20px;
    text-align: center;
}
